
.icon-skiing:before { content: '\e800'; } /* '' */
.icon-bicycle:before { content: '\e801'; } /* '' */
.icon-art-gallery:before { content: '\e802'; } /* '' */
.icon-heliport:before { content: '\e803'; } /* '' */